<div id="<%= dom_id result %>">
  <p>
    <strong>Course name:</strong>
    <%= result.course.name %>
  </p>

  <p>
    <strong>Student name:</strong>
    <%= result.student.full_name %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= result.score %>
  </p>

</div>
